body{
    margin: 60px auto;
    max-width: 800px;
    display: block;
    background: #a22020;
}
h1{
    text-align: center;
    color: rgb(26, 26, 28);
    font-size: 24px;
}
a{
    color: blanchedalmond;
}
.croissants {
    max-width: 500px;
    border-radius: 10px;
    margin: 30px 0;
    display: block;
}
.email-link{
    color: rgb(0, 255, 68);
}